<div class="cart-container">
  <h1>Explore Your Product</h1>
  <div class="product-grid">
    <mat-card class="product-card">
      <mat-card-title class="product-title">{{ product?.title }}</mat-card-title>
      <mat-card-content>
        <img [src]="product?.image" alt="Product Image" class="product-image" (error)="onImageError($event)">
        <div class="product-info">
          <p><strong>Price:</strong> {{ product?.price }}</p>
          <p><strong>ID:</strong> {{ product?.id }}</p>
          <p><strong>Category:</strong> {{ product?.category }}</p>
          <p><strong>Rating:</strong> {{ product?.rating?.rate }}/5</p>
          <p><strong>Reviews:</strong> {{ product?.rating?.count }}</p>
          <p><strong>Description:</strong> {{ product?.description }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions class="product-actions">
        <button mat-raised-button (click)="addToCart(product!)">Add to Cart</button>
        <button mat-raised-button (click)="editProduct(product!)">Edit</button>
        <button mat-raised-button (click)="removeProduct(product!)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>