.header{
    position: sticky;
    z-index: 100;
    top: 0;
}
.header_top{
    height: 60px;
    background-color: #041916;
    font-size: 12px;    
    display: flex;
    color: white;   
    padding-right: 8px;
    padding-left: 8px;
}   
.header_menu > div{
    margin:8px;
}
.header_menu{
    display: flex;
}
.header_menu_icon > mat-icon{
    font-size: 30px;
    align-items: center;
}
.header_menu {
    display: flex;
    padding: 10px 8px 8px 8px ;
    margin: 100;
}

.header_menu_searchbar{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    justify-content: center;
    flex: 1;    
    
}
.header_menu_searchbar_input{
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_menu_searchbar_Icon{
    background-color: #fcb659;
    height: 40px;
    width: 40px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_menu_cart{
    display: flex;
    margin-right: 10px;
    margin-top: 8px;
    height: 50px;
    justify-content: space-around;
}
.header_cart_number{
    color: #ff9100;
    font-weight: 800;
    font-size: 15px;
}       
.header_menu_logo{
  object-fit: contain;
  width: 100px;
  margin: 12px 20px 0px 2px; 
}
.header_menu_signin{
    display: flex;
    flex-direction: column;
}
.header_menu_top_item{
    font-size-adjust: 10px;
    margin-top: 5px;
    margin-left: 10px;
    color:rgb(248, 248, 248);
}
.header_menu_bottom_item{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 800;
}
.header_bottom{
    height: 49px;
    background-image: none;
    background-color: #232f3e;
    padding-left: 8px;
    font-size: 12px;
}
.header_bottom_location_text{
    color: white;
    display: flex;
    flex-direction: column;
}
.header_left_line_one{
    color: lightgray;
}
.header_left_line_two{
    color: rgb(1, 251, 76);
}